<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid px-5 py-2">
          <a class="navbar-brand" href="#">Olshop</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#"></i>Home</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href="#">Product</a>
              </li>
            </ul>
            <ul class="d-flex">
              <a class="nav-link" href="#">
              <i class="fa fa-cart-shopping"></i>
              Keranjang
            </a>
            </ul>
          </div>
        </div>
      </nav>

    <div class="container">
      <h2 class="my-4 fw-bold">Detail Produk</h2>
      
      <div class="row">
        <div class="col-4">
          <img th:src="@{${product.getUrlImage}}" class="" alt="..." style="width: 100%;">
        </div>
        <div class="col-5">
          <div class="card" style="width: 100%;">
            <div class="card-body">
              <h3 th:text="${product.getName}"></h3>
              <h4 id="harga" class="card-title fw-bold" th:text="'Rp' +${product.getPrice}"></h4>
        
              <div class="my-5">
                <h6 class="fw-bold">Deskripsi Produk : </h6>
              <h6 class="card-text" th:text="${product.getDescription}"></h6>

              </div>
        
      
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 100%;">
            <div class="card-body">
              <h6 id="nama" class="card-text" th:text="${product.getName}"></h6>
              <h4 id="total" class="card-title fw-bold" th:text="'Rp' +${product.getPrice}"></h4>
        
              <div class="d-inline ">
                <input id="jumlah" type="number" class="form-control" min="1" value="1" th:max="${product.getStock}" />
                <h6 class="card-text mt-2" th:text="'Stok : '+ ${product.getStock}"></h5>
              </div>
        
              <div class="mt-4 my-2">
                <a id="btnAdd" href="#" class="btn btn-primary d-block py-2 px-4"><i class="fa fa-cart-shopping"></i> Add to Cart</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
        

    <script src="/webjars/bootstrap/js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" type="text/javascript"></script>
    <script th:inline="javascript">
    const rupiah = (number)=>{
    return new Intl.NumberFormat("id-ID", {
      style: "currency",
      currency: "IDR"
    }).format(number);
  }
    $("#total").html(rupiah([[${product.getPrice}]]*$("#jumlah").val()))
    $("#harga").html(rupiah([[${product.getPrice}]]*$("#jumlah").val()))
     $("#jumlah").on("change", ()=> {
      $("#total").html(rupiah([[${product.getPrice}]]*$("#jumlah").val()))
     })
     let cart = localStorage.getItem('cart') ? JSON.parse(localStorage.getItem('cart')): []
     $("#btnAdd").click((e) => {
      const id = [[${product.getId}]]
      const nama = [[${product.getName}]]
      const harga = [[${product.getPrice}]]
      const jumlah = +$("#jumlah").val()
      if (cart.find(e2=>e2.id == id)) {
        cart = cart.filter(e2=> e2.id != id)
      }
      cart.push({
        id,
        nama,
        harga,
        quantity: jumlah,
      })
      localStorage.setItem("cart", JSON.stringify(cart))
     })
    </script>
 </body>
</html>